<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Allow receiving multicast/broadcast packets on iOS (iOS 14+) -->
	<key>com.apple.developer.networking.multicast</key>
	<true/>
</dict>
</plist>
